*{
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

form {
  display: grid;
  max-width: 200px;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: left;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellowButton {
  color: black;
  font-size: 1.5vw;
  font-weight: 500;
  background-color: #f4ce14;
  padding: .5vw 1vw .5vw 1vw;
  border-radius: .7vw;
}

.yellowButton:hover {
  font-weight: 600;
}

.App{
  width: 100vw;
  border: yellow solid 3px;
}



nav img {
  width: 15vw;
  display: flex;
  font-size: 2vw;
  float: left;

}
nav ul{
  display: flex;
  margin-left: 10vw;

  align-items: center;
  width: 100vw;
}

nav li {
    display: inline-block;
    padding: 0 0vw 0 4vw;
    font-size: 1.5vw;
}

nav li:hover{
  color: #495e57;
  font-weight: 600;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
}

.header {
  width: 100vw;
  border: red 3px solid;
}

.headerSection {
  background-color: #495e57;
  font-size: 1.5vw;
  padding-bottom: 2vw;
  height: 44vw;
}

.headerSection {
  color: white;
}

.headerContainer {
  display: flex;
}

.headerLeft {
  flex: 1;
  margin-top: 8vw;
  margin-left: 10vw;
  border: solid 3px blue;
}

.headerLeft h2 {
  color: #f4ce14;
}

.headerLeft h3 {
  margin: 1vw 0vw 2vw 0vw;
}

.headerLeft p {
  width: 32vw;
  margin-bottom: 4vw;
}

.headerRight {
  margin-top: 3vw;
  margin-right: 14vw;
  border: solid 5px red;
}

.headerImage {
  width: 30vw;
  border: black 1px solid;
  border-radius: .5vw;
}

.highlightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid red 3px;
  margin-top: 10vw;
}

.highlightTop {
  display: flex;
  margin-left: 10vw;

  width: 74vw;
  justify-content: space-between;
  border: solid green 3px
}

.highlightBottom {
  display: flex;
  justify-content: space-between;
  border: solid blue 3px;
  width: 74vw;
  margin-left: 10vw;
  margin-top: 4vw;
}

.highlightCard {
  flex-direction: row;
  width: 20vw;
  height: 40vw;
  border: grey 3px solid;
  border-radius: 2vw 2vw 0vw 0vw;
}

.price {
  display: flex;
  justify-content: space-between;
  margin: 1vw;
}