*{
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

form {
  display: grid;
  max-width: 200px;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: left;
}

form div {
  padding: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  width: 99vw;
  height: 100%;
}

nav {
  /* display: inline-block; */
  width: 99vw;
  height: 5vw;
  text-align: center;
  justify-content: center;
  background-color: yellow;
  border: solid 3px blue
  }

nav h1 {
  display: flex;
  font-size: 2vw;
  float: left;
}
nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
    display: inline-block;
    padding: 0 2vw 0 2vw;
    font-size: 2vw;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
}